# Python
*.pyc
*.pyo
*.pyd
__pycache__/
db.sqlite3  # Banco de dados SQLite (se estiver usando)
media/
static/

# Django migrations
*/migrations/*

# Node.js (React)
node_modules/
npm-debug.log
yarn-error.log
*.lock
