.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
 
.home-content {
padding: 20px;
}
  
.home-title {
font-size: 50px;
color: #333;
margin-bottom: 20px;
}

.home-logo {
width: 250px;  
height: auto;  
margin-top: 10px;  
} 